{% extends 'base.html' %}
{% load bootstrap4 %}
  {% block title %}
    mAgozin - registration
  {% endblock %}
{% block content %}
<div class="centered">
  <div class="card">
    <h4>Welcome to Chess DRF!</h4>
    <form action="" method = "POST">
      {% csrf_token %}
      {% bootstrap_form user_form layout='inline' %}
      {% buttons %}
      <div>
      <a href="{% url 'enter' %}" type="button"
                                 class="btn btn-warning">Login</a>
      <button type="submit" class="btn btn-dark">Register</button></div>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
